body {
  background: #ebedef;
}
.App {
  width: 100vw;
  height: 90vh;
}
.body-container {
  padding-top: 10vh;
  width: 95%;
  height: 100%;
}
.leave-container {
  width: 90%;
  height: 100%;
}
.pusher {
  padding-left: 15vw;
}
.profile-card {
  padding-top: 5vh !important;
}
.alert-wrapper {
  position: fixed;
  top: 40vh;
  text-align: center;
  z-index: 999;
  width: 100%;
}

.card .ui.statistic {
  width: 100%;
}

.ui.form .disabled.field,
.ui.form .field.disabled > label,
.ui.form .fields.disabled > label {
  opacity: 1;
}
.icon-gap {
  padding-left: 10px;
}
.dashboard {
  margin: 50px 20px 0px 20px;
}
.table-container {
  width: 60vw;
  height: auto;
}
/* 
.homecard{
    padding-left: 25%;
    padding-top: 4%;
}

.homecard_x{
    background-color: aqua
    ;
}

.homepage{
    background-color: blueviolet;
} */

.homebar {
  width: 20vw;
}

.left-sidebar {
  height: 90vh !important;
  width: 15vw !important;
}
.navbar-toggler-icon {
  cursor: pointer !important;
  margin-left: 5vh !important;
  padding-top: 5px;
}
#alert {
  position: absolute;
  top: 7.5vh;
  left: 25vw;
  z-index: 100000;
  width: 50vw;
  text-align: center;
  margin: 0 auto 0 auto;
  padding: 0;
}
.add-btn {
  margin-left: 10px;
}
.footer {
  position: absolute;
  bottom: 20px;
  left: 45vw;
}
.logo-class {
  margin: auto auto;
  padding-bottom: 5vh;
}
.text-center {
  text-align: center;
}
.heading-leave {
  font-size: 1.25rem;
  color: #db2828;
  padding-left: 1vw;
}
.heading-available {
  font-size: 1.25rem;
  color: #21ba45;
  padding-left: 1vw;
}
.heading-strength {
  font-size: 1.25rem;
  color: #2185d0;
  padding-left: 1vw;
}
.heading {
  height: 4vh;
}
.content-class {
  padding-top: 0.5rem;
}
.rbc-calendar {
  height: 40vh !important;
  width: 50vw !important;
}
.leave-cols {
  padding-top: 2vh;
  padding-left: 1vw;
}
